# root
**/.vscode/*

# redis
/redis-data

# api
/api/logs
/api/node_modules
/api/dist
/api/public
/api/resource
/api/coverage

# crawler
/crawler/logs
/crawler/node_modules
/crawler/dist
/crawler/public
/crawler/resource

# common
**/.env*
**/.DS_Store